/* PHASE 2: Notifications */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul {
  color: pink;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

ul li {
  margin: 20px;
  /* position: absolute; */
  top: 150px;
}

.header-nav {
  position: relative;
  margin: 30px auto;
  border: 10 px solid black;
  width: 500px;
}

.header-list {
  float: left;
}

.dropdown-content ul:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}