<h2>Create A Comment!</h2>

<form action="<%= comments_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label>Enter Comment:
    <textarea name="comment[content]" cols="30" rows="10"></textarea>
  </label>

  <input type="hidden" name="comment[post_id]" value="<%= params[:post_id]%>">

  <input type="submit" value="Add Comment">
</form>